<div class="row">
<form  name="myForm">

     <div class="row" style="background-color:#eeeeef;padding-top:10px;border-left: solid 4px #dbdbdb">
        <div class="row" style="padding-left: 25px;padding-bottom: 10px">
            <div class="col-md-3" style="font-size:20px;padding-left:0px;border-bottom: solid 2px #dddddd">Checkout</div>
        </div>

        <div class="col-md-offset-1 col-md-8">
            <div class='row'>
              <div class="col-md-3">
                <label for="fname">First Name</label>
                
                  <input type="text" ng-model="ctrl.user.username1" name="uname" placeholder="Enter your name" required ng-minlength="3"/>
                <span ng-show="myForm.$dirty && myForm.uname.$error.required">This is a required field</span>
                <span ng-show="myForm.$dirty && myForm.uname.$error.minlength">Minimum length required is 3</span>
                <span ng-show="myForm.$dirty && myForm.uname.$invalid">This field is invalid </span><br/><br/>

              </div>
              <div class="col-md-3">
                <label for="lname">Last Name</label>
                <input type="text" ng-model="ctrl.user.username2" name="lname" placeholder="Enter your name" required ng-minlength="3"/>
                <span ng-show="myForm.$dirty && myForm.lname.$error.required">This is a required field</span>
                <span ng-show="myForm.$dirty && myForm.lname.$error.minlength">Minimum length required is 3</span>
                <span ng-show="myForm.$dirty && myForm.lname.$invalid">This field is invalid </span><br/><br/>

              </div>
          </div>  

          <div class=row>
              <div class="col-md-6">                
                  <label for="address1">Address1</label><br>

                  <input type="text" ng-model="ctrl.user.address1" name="address1" placeholder="Enter your Address" style="width:100%" required ng-minlength="3" />
                  <span ng-show="myForm.$dirty && myForm.address1.$error.required">This is a required field</span>
                <span ng-show="myForm.$dirty && myForm.address1.$error.minlength">Minimum length required is 3</span>
                <span ng-show="myForm.$dirty && myForm.address1.$invalid">This field is invalid </span>
                  <br/><br/>
              </div>
              
          </div>      

          <div class=row>
              <div class="col-md-6">                
                  <label for="address1">Address2</label><br>

                  <input type="text" ng-model="ctrl.user.address2" placeholder="Enter your Address" style="width:100%"/><br/><br/>
              </div>
              
          </div> 

          <div class='row'>
              <div class="col-md-3">
                <label for="city">City</label>
                
                  <input type="text" ng-model="ctrl.user.city" name="city" required ng-minlength="3"/>
                <span ng-show="myForm.$dirty && myForm.city.$error.required">This is a required field</span>
                <span ng-show="myForm.$dirty && myForm.city.$error.minlength">Minimum length required is 3</span>
                <span ng-show="myForm.$dirty && myForm.city.$invalid">This field is invalid </span><br/><br/>

              </div>
              <div class="col-md-3">
                <label for="state">State</label>
                <input type="text" ng-model="ctrl.user.state" name="state" required ng-minlength="3"/>
                <span ng-show="myForm.$dirty && myForm.state.$error.required">This is a required field</span>
                <span ng-show="myForm.$dirty && myForm.state.$error.minlength">Minimum length required is 3</span>
                <span ng-show="myForm.$dirty && myForm.state.$invalid">This field is invalid </span><br/><br/>

              </div>
              <div class="col-md-3">
                <label for="pin">Pin</label>
                <input type="text" ng-model="ctrl.user.pin" name="pin" required ng-minlength="6"/>
                <span ng-show="myForm.$dirty && myForm.pin.$error.required">This is a required field</span>
                <span ng-show="myForm.$dirty && myForm.pin.$error.minlength">Minimum length required is 6</span>
                <span ng-show="myForm.$dirty && myForm.pin.$invalid">This field is invalid </span><br/><br/>

              </div>

          </div> 
          <div class=row>
              <div class="col-md-6">                
                  <label for="phone">Phone</label><br>

                  <input type="text" ng-model="ctrl.user.phone" name="phone" required ng-minlength="10" ng-maxlength="10" style="width:100%"/>
                  <span ng-show="myForm.$dirty && myForm.phone.$error.required">This is a required field</span>
                <span ng-show="myForm.$dirty && myForm.phone.$error.minlength">length required is 10</span>
                <span ng-show="myForm.$dirty && myForm.phone.$invalid">This field is invalid </span><br/><br/><br/><br/>
              </div>
              
          </div> 



        </div> 




          
           
          
        </div>

      
<!--Order Summary -->

      <div class="row" style="margin-top:15px;background-color:#eeeeef;padding-top:10px;border-left: solid 4px #dbdbdb">

     <div class="row" style="padding-left: 25px;padding-bottom: 10px">
            <div class="col-md-3" style="font-size:20px;padding-left:0px;border-bottom: solid 2px #dddddd">Order Summary</div>
        </div>


    <div class="col-md-offset-1 col-md-8">
        <div class='row' style="margin:18px;border-bottom: 2px solid #dddddd;padding-bottom: 3px">
            <div class="col-md-4" style=" padding-left:0px;">
                Item Name
            </div>  
            <div class="col-md-4" style=" padding-left:0px;">
                Count
            </div>  
            <div class="col-md-4" style=" padding-left:0px;">
                Amount
            </div>  
        </div>



        <div class='row' ng-repeat="(name,contents) in ctrl.theOrder" style="margin:18px;margin-top:10px;padding-top: 2px">
            <div class="col-md-4" style=" padding-left:0px;">
                {{name}}
            </div>  
            <div class="col-md-4" style=" padding-left:0px;">
                {{contents.quantity}} <a ng-click="ctrl.increase(name)" style="color:#0000ff">[+]</a> <a ng-click="ctrl.decrease(name)" style="color:#0000ff">[-]</a>
            </div>  
            <div class="col-md-4" style=" padding-left:0px;">
                Rs {{contents.amount}}
            </div>  
        </div>



        <div class='row' style="border-top: 1px solid #dddddd; margin: 18px;padding-top:10px">
            <div class="col-md-4" style=" padding-left:0px;">
                Total Items
            </div>  
            <div class="col-md-4" style=" padding-left:0px;">
                {{ctrl.m[6]}}
            </div>  
            <div class="col-md-4" style=" padding-left:0px;">
                Rs {{ctrl.m[5]}}
            </div>  
        </div>
        </div>
   </div>
    <div class="row text-center" style="margin-top: 10px">
        <input type="submit" class="btn" ui-sref="ordered" value="Confirm Order" ng-disabled="myForm.$invalid" style="display: block,margin:auto;background-color: #44bbff;color:#fff;border-radius: 0px">
    </div>


   <!--ENDING  -->



      </form>
</div>
       
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js">
      </script>  
      <script>
          angular.module('routingQuizApp', [])
          .controller('AppController', [function() {
              var self = this;
              self.submit = function() {
                  console.log('Form is submitted with following user', self.user);
            };
      }]);
  </script>